<!DOCTYPE html>
<html lang="en" style="height: 100%;" ng-app="portifolio">
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if lte IE 9]><html class="ie9" lang="en"><![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Ricardo Zandonai</title>
  <meta name="description" content="FS Millbank is a distinctive wayfinding and works typeface from leading type foundry Fontsmith.">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link href="./css/application.css" rel="stylesheet" type="text/css">
  <link href="./bower_components/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
  <link href="./bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 9]><link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
  <link rel="icon" href="./img/favicon.ico">
  <meta property="og:title" content="Ricardo Zandonai">
  <meta property="og:description" content="Um pouco sobre a vida profisional">
  <meta property="og:image" content="./img/fs-millbank-og-image.jpg">
  <meta property="og:url" content="http://zandonai.aggstyle.com/">
  <meta property="og:type" content="website">
  <meta name="msapplication-TileColor" content="#0434E8">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body class="impress-supported impress-enabled impress-on-fs-millbank" ng-controller="appCtrl">

  <div id="Site">
    <div id="Header">
      <a href="http://aggstyle.com/" title="Go to aggstyle.com" target="_blank"><img src="./img/title.png"></a>
      <div class="right">
        <div class="barBox right">
          <a class="menuButton js-menu"><span>Menu</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="23" viewBox="0 0 22 23" enable-background="new 0 0 22 23" xml:space="preserve"><rect x="0" y="20" fill="#C6BA00" width="22" height="3"></rect><rect x="0" y="10" fill="#C6BA00" width="22" height="3"></rect><rect x="0" fill="#C6BA00" width="22" height="3"></rect></svg></a>
        </div>
        <div class="right">
          <a class="Share-link" target="_blank" href="https://www.facebook.com/ricardo.zandonai" data-social="fb"><img src="./js/facebook-icon.svg" alt="Facebook logo" title="on Facebook"></a>
          <a class="Share-link" target="_blank" href="https://br.linkedin.com/in/ricardozandonai" data-social="lk"><img src="./js/linkedin.svg" alt="Linkedin logo" title="on Linkedin"></a>
        </div>
        <div class="Share-box right">
          <a ng-click="changeLang('br')"> <img src="img/br.png"></img>
          </a>
          <a ng-click="changeLang('en')"> <img src="img/us.png"></img>
          </a>
        </div>
      </div>
    </div>

    <div id="Menu" class="js-menu" style="display: none;">
      <div class="Menu-box">
        <ul class="Menu-list">
          <li class="Menu-item"><a class="js-goto Menu-link active" href="#home">{{'hom' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="#skills">{{'skills' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="#works">{{'works' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="#competency">{{'compe1' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="#positive-negative">{{'likeapro' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="#aboutme">{{'aboutme' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="#photos">{{'photos' | translate}}</a></li>
          <li class="Menu-item"><a class="js-goto Menu-link" href="mailto:zandonai.r@gmail.com.com">{{'mail' | translate}}</a></li>
        </ul>
      </div>
    </div>
    <div class="impress-container">
      <div id="impress" style="position: absolute; transform-origin: left top 0px; transition: all 1000ms ease-in-out 0ms; transform-style: preserve-3d; top: 50%; left: 50%; transform: perspective(1000px) scale(1);">
        <div style="position: absolute; transform-origin: left top 0px; transition: all 1000ms ease-in-out 500ms; transform-style: preserve-3d; transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, -1px);">
          <div id="home" class="step active present" data-x="0" data-y="0" data-z="1" data-scale="1" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 1px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); transform-style: preserve-3d;">
            <div class="slide smallerPaddingTop">
              <p class="microText blue" translate="about">
                </span>
                <p class="mediumText bold block microPaddingTop mediumIndentFix" translate="name"></p>
                <br>
                <br>
                <br>
                <br>
                <p class="microText block block microPaddingTop smallerIndentFix" style="text-align: right;" translate="cit"></p>
                <p class="miniText block microPaddingTop smallerIndentFix" style="text-align: right;" translate="cit_aut"></p>
            </div>
            <span style="text-align: left;">
          <a href="#hello" class="js-next mediumText nextIcon firstIcon" >></a>
          </span>
          </div>

          <div id="hello" class="step past" data-x="800" data-y="0" data-z="1" data-scale="1" style="position: absolute; transform: translate(-50%, -50%) translate3d(800px, 0px, 1px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); transform-style: preserve-3d;">
            <div class="slide smallerPaddingTop">
              <p class="mediumText" translate="hello"></p>
              <span class="microText block microPaddingTop smallerIndentFix" translate="hello_about"></span>
            </div>
            <a href="#skills" class="js-next nextIcon">></a>
          </div>

          <div id="skills" class="step past" data-x="1600" data-y="0" data-z="1" data-scale="1" style="position: absolute; transform: translate(-50%, -50%) translate3d(1600px, 0px, 1px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); transform-style: preserve-3d;">
            <div class="slide smallerPaddingTop">
              <div>

                <p class="mediumText" translate="skills"></p>
                <span class=" block">
              <ul class="Grid">
              <li class="Grid-item oneFour">
              <div id="javascript" data-dimension="180" data-text="50%" data-info="JavaScript" data-width="9" data-fontsize="30" data-percent="50" data-fgcolor="#EDD500" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="20" data-icon-color="#fff" data-type="half" class="miniText"></div>
              </li>
              <li class="Grid-item oneFour">
              <div id="angularjs" data-dimension="180" data-text="70%" data-info="AngularJS" data-width="10" data-fontsize="30" data-percent="70" data-fgcolor="#E92922" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half" class="miniText"></div>           
              </li>
              <li class="Grid-item oneFour">
              <div id="CSS" data-dimension="180" data-text="50%" data-info="CSS" data-width="10" data-fontsize="30" data-percent="50" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half" class="miniText"></div>
              </li>
              <li class="Grid-item oneFour">
              <div id="HTML5" data-dimension="180" data-text="70%" data-info="HTML5" data-width="10" data-fontsize="30" data-percent="70" data-fgcolor="#3B3F1E" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half"  class="miniText"></div>
              </li>
              <li class="Grid-item oneFour">
              <div id="Ionic" data-dimension="180" data-text="60%" data-info="Ionic" data-width="10" data-fontsize="30" data-percent="60" data-fgcolor="#00BEED" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half" class="miniText"></div>
              </li>
              <li class="Grid-item oneFour">
              <div id="java" data-dimension="180" data-text="80%" data-info="Java" data-width="10" data-fontsize="30" data-percent="80" data-fgcolor="#AE1924" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half" class="miniText"></div>
              </li>
              <li class="Grid-item oneFour">
              <div id="python" data-dimension="180" data-text="70%" data-info="Python" data-width="10" data-fontsize="30" data-percent="70" data-fgcolor="#AE1924" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half" class="miniText"></div>
              </li>
              <li class="Grid-item oneFour">
              <div id="SQL" data-dimension="180" data-text="90%" data-info="SQL" data-width="10" data-fontsize="30" data-percent="90" data-fgcolor="#AE1924" data-bgcolor="#eee" data-fill="#fff" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff" data-type="half" class="miniText"></div>
              </li>
              </ul>
              </span>

              </div>

            </div>
            <a href="#works" class="js-next nextIcon">></a>
          </div>

          <div id="works" class="step past" data-x="3310" data-y="720" data-rotate="90" data-z="1" data-scale="3" style="position: absolute; transform: translate(-50%, -50%) translate3d(3311px, 720px, 1px) rotateX(1deg) rotateY(0deg) rotateZ(90deg) scale(2); transform-style: preserve-3d;">
            <p class="smallestText " translate="works"></p>
            <br>
            <a href="http://aggstyle.github.io/soraiamilani/"> <img src="img/soraia.png" alt="Website da compositora Soraia Milani" height="200"> </a>
            <a href="#Startups" class="js-next nextIcon"><span>></span></a>
          </div>

          <div id="Startups" class="step future" data-x="1150" data-y="780" data-scale="0.4" data-z="-500" style="position: absolute; transform: translate(-50%, -50%) translate3d(1150px, 780px, -500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.4); transform-style: preserve-3d;">
            <a href="http://aggstyle.com"><span class="microText ">AgGstyle</span></a>
            <p class="smallText block microPaddingTop smallerIndentFix" translate="aggw"></p>
            <a href="#professional" class="js-next nextIcon">
              < </a>
          </div>

          <div id="professional" class="step future" data-x="500" data-y="800" data-rotate="-90" data-scale="0.15" data-z="-500" style="position: absolute; transform: translate(-50%, -50%) translate3d(500px, 800px, -500px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(0.15); transform-style: preserve-3d;">
            <p class="mediumText" translate="traj"></p>
            <a href="#competency" class="js-next nextIcon">></a>
          </div>

          <div id="competency" class="step past" data-x="555" data-y="1400" data-scale="0.3" data-z="-400" style="position: absolute; transform: translate(-50%, -50%) translate3d(555px, 1400px, -400px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.3); transform-style: preserve-3d;">
            <div class="slide smallerPaddingTop extraPaddingRight">
              <h2 class="paragraph block bold"><p translate="compe"></p></h2>
              <p class="paragraph smallerPaddingTop" translate="comp">
               </p>
              <a href="#Story" class="eyeButton js-overlay-open bottomLeft"><span>Curriculo</span></a>
            </div>
            <a href="#positive-negative" class="js-next nextIcon--right">></a>
          </div>
          <div id="positive-negative" class="step future" data-x="750" data-y="1144" data-z="-600" data-scale="0.3" style="position: absolute; transform: translate(-50%, -50%) translate3d(750px, 1144px, -600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.3); transform-style: preserve-3d;">
            <div class="lineUp"></div>
            <div class="slide extraPaddingRight">
              <h3 class="paragraph block bold smallerPaddingTop"><p translate="howmepro"></p></h3>
              <p class="paragraph smallerPaddingTop" translate="howmepro1"></p>
              <p class="paragraph smallerPaddingTop"translate="howmepro2"></p>
            </div>
            <a href="#user-interface" class="js-next nextIcon">></a>
          </div>

          <div id="user-interface" class="step future" data-x="1250" data-y="1144" data-z="-600" data-scale="0.3" style="position: absolute; transform: translate(-50%, -50%) translate3d(1250px, 1144px, -600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.3); transform-style: preserve-3d;">
            <div class="slide">
              <p class="biggerText block mediumIndentFix" translate="aboutme"></p>
              <span class="smallestText bold"></span>

              <span class="microText block block microPaddingTop smallerIndentFix" style="text-align: right;"><br> <br><br> <br>
              "Each day's a gift and not a given right<br>
               Leave no stone unturned, leave your fears behind<br>
 And try to take the path less traveled by<br>
 That first step you take is the longest stride"</span>
              <span class="miniText block microPaddingTop smallerIndentFix" style="text-align: right;">Nickelback</span>
            </div>
            <a href="#aboutme" class="js-next nextIcon">></a>
          </div>

          <div id="aboutme" class="step future" data-x="1935" data-y="1375" data-rotate="180" data-z="-200" data-scale="0.4" style="position: absolute; transform: translate(-50%, -50%) translate3d(1935px, 1375px, -200px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scale(0.4); transform-style: preserve-3d;">
            <div class="slide extraPaddingRight">
              <h3 class="paragraph block bold smallerPaddingTop">
              <p translate="aboutme1"></p>
                <br>
              <p translate="aboutme2"></p></h3>
            </div>
            <a href="#photos" class="js-next nextIcon">></a>
          </div>

          <div id="photos" class="step past" data-x="1295" data-y="1375" data-rotate="180" data-z="-200" data-scale="0.4" style="position: absolute; transform: translate(-50%, -50%) translate3d(1295px, 1375px, -200px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scale(0.4); transform-style: preserve-3d;">

            <img src="./img/ricardo.jpg" />

          </div>


        </div>
      </div>
    </div>

    <div id="Footer">
      <a href="#home" class="js-goto exitButton hidePortable" title="Start again"><i class="fa fa-home"></i>
{{'hom' | translate}}</a>
      <div class="Progress">
        <span class="Progress-text"><span id="Progress-number">1</span> {{'of' | translate}} 11</span>
        <div class="Progress-bar">
          <div class="Progress-line">
            <div class="Progress-step" style="width: 4.34783%;"></div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="barBox">
          <a id="js-prev" class="prevButton off"><span>{{'back' | translate}}</span></a>
        </div>
        <div class="barBox">
          <a id="js-next" class="nextButton"><span>{{'next' | translate}}</span></a>
        </div>
      </div>
    </div>

  </div>

  <div class="Overlay">
    <a href="#" class="js-overlay-close closeButton" title="Close">X</a>
    <div id="Story" class="Overlay-content">
      <div class="Overlay-wrap">
        <DIV id="id_1">
          <P class="p0 ft0">Ricardo Zandonai</P>
          <P class="p1 ft1">Programmer at HBSIS</P>
          <P class="p3 ft3">Experiência</P>
          <P class="p4 ft4">Programmer at Senior Sistemas</P>
          <P class="p5 ft6">July 2014 - Dezember 2015
            <SPAN class="ft5">(1 year 6 months)</SPAN>
          </P>
          <P class="p6 ft4">Analista de implantação na Linx S.A.</P>
          <P class="p5 ft6">September 2012 - August 2014
            <SPAN class="ft5">(2 years)</SPAN>
          </P>
          <P class="p6 ft4">Programmer at Philips</P>
          <P class="p7 ft6">February 2012 - September 2012
            <SPAN class="ft5">(8 months)</SPAN>
          </P>
          <P class="p8 ft4">Programmer at Esquematika informatica</P>
          <P class="p7 ft6">January 2011 - February 2012
            <SPAN class="ft5">(1 year 2 months)</SPAN>
          </P>
        </DIV>
        <DIV id="id_1">
          <P class="p6 ft3">Formação acadêmica</P>
          <P class="p12 ft4">Centro Universitário Leonardo da Vinci - UNIASSELVI</P>
          <P class="p12 ft4">Analise e desenvolvimento de sistemas</P>
          <P class="p5 ft6">2015 - 2018</P>
          <P class="p13 ft3">Idiomas</P>
          <TABLE cellpadding=0 cellspacing=0 class="t0">
            <TR>
              <TD class="tr0 td0">
                <P class="p14 ft4">Português</P>
              </TD>
              <TD class="tr0 td1">
                <P class="p14 ft8">(Native or bilingual proficiency)</P>
              </TD>
            </TR>
            <TR>
              <TD class="tr1 td0">
                <P class="p14 ft4">Inglês</P>
              </TD>
              <TD class="tr1 td1">
                <P class="p14 ft8">(Limited working proficiency)</P>
              </TD>
            </TR>
          </TABLE>

        </DIV>
      </DIV>


    </div>
  </div>

  <script type="text/javascript">
    var body = document.body;
    if (!body.dataset) {
      document.write ("<script src=\"/javascripts/html5-dataset.js\"></scr"+"ipt>");
    }
  </script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/jquery.touchSwipe.min.js"></script>
  <script src="./js/script.js"></script>
  <script src="./js/registration.js"></script>

  <script src="./bower_components/circliful/js/jquery.circliful.js"></script>
  <script src="./bower_components/impress.js/js/impress.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="./bower_components/angular-translate/angular-translate.js"></script>
  <script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="./bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="./bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script src="./js/app.js"></script>

  <script>
    impress().init();
  </script>
  <script>
    $( document ).ready(function() {
        $('#javascript').circliful();
        $('#angularjs').circliful();
        $('#CSS').circliful();
        $('#HTML5').circliful();
        $('#Ionic').circliful();
        $('#java').circliful();
        $('#python').circliful();
        $('#SQL').circliful();
        $('#Linux').circliful();
        $('#Windows').circliful();
    });
  </script>
</body>

</html>